trigger:
- master
- demo/citibike/*
  
steps:
- task: UsePythonVersion@0
  inputs:
    versionSpec: '3.6'
- script: python -m pip install --upgrade pip
  displayName: 'Install PIP Update'

- script: python -m pip install snowflake-connector-python
  displayName: 'Install Snow-connector-python'
  
- task: PowerShell@2
  displayName: Add environment variable
  inputs:
    targetType: 'inline'
    script: |
      Write-Host "Making the Snowflake_password available as an environment variable."
      Write-Host "##vso[task.setvariable variable=SNOWFLAKE_PASSWORD;]$(password)"
- 
  script: python snowchange/cli.py -a $(SNOWFLAKE_ACCOUNT) -u $(SNOWFLAKE_USER) -r $(SNOWFLAKE_ROLE) -w $(SNOWFLAKE_WAREHOUSE) -d $(SNOWFLAKE_DATABASE)
  displayName: 'Main Code'